.full-width-table {
    width: 100%;
  }

  .dropdown {
    margin-left: auto; /* Schiebt das Dropdown-Menü nach rechts */
    align-self: flex-end; /* Richtet das Dropdown-Menü rechts aus, wenn der Container flex ist */
  }