@import '~bootstrap/dist/css/bootstrap.min.css';

html, body {
    height: 100%;
    margin: 0;
  }
  
  /* Stil für den Footer */
  app-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    text-align: center;
    
  }